*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    display: flex;
    height: 100hv;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.923);
}
.container{
    margin-top: 40px;
    max-width: 1800px;
    height: 950px;
    width: 100%;
    background-color: grey;
    padding: 25px 30px;
    border-radius: 5px;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .title::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 30px;
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-details .input-box{
    margin-bottom: 15px;
    margin: 20px 0 12px 0;
    width: calc(100%/2 - 250px);
    /* padding: 20px; */
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin: 10px;

}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 15px;
    font-size: 16px;

}

.user-details .input-box select{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 15px;
    font-size: 16px;
}
form{
    margin-top: 40px;
}

form .button{
    height: 45px;
    margin: 45px 0;
    width: 100%;
    margin-top: 190px; 
    margin-right: 80px; 
    outline: none;
    margin: 20px;
}
form .button input{
    height: 100%;
    width: 200px;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 5px;
    border: none;
    background-color: rgb(43, 169, 43);
    color: white;
}

@media (max-width: 800px){
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        width: 100%
    }
    .container form .user-details{
        max-height: 1200px;
    }
}