/* .resource{
    background-color: grey;
    margin-top: 40px;
    max-width: 1368px;
    height: 950px;
    width: 100%;
    padding: 25px 30px;
    display: grid;
    color: black;
}
a{
    color: black;

}
.anchor{
    color: black;
}
.dog_disease .feed .training{
    color: aqua;
} */